# 服务端地址，填写访问服务端监控页的网址，末尾不要带 '/'
server_addr = 'http://127.0.0.1:28288/heihei'

# 与服务端交互的密码，需要和服务端填写一样的密码，强烈建议设置一个长随机密码
secret = 'password'

# 服务器名称，随意设置
name = 'test'

# 服务器位置，随意设置
location = 'Hong Kong'