# 服务端监听端口，默认 28288
port=28288

# 客户端与服务端交互的密码，强烈建议设置一个长随机密码
secret=password

# 等待客户端最长时间，单位为秒，其作用是，若某个客户端超过这个时间未提交状态信息，则移除这个客户端
wait_timeout=60

# 设置根路径，需以 / 开头，主要的作用是让别人不知道真实的访问路径
# 例如设置为 /heihei ，那么访问页面的路径为：
# http(s)://host:port/heihei
base_path=/heihei

# ssl 证书公钥文件路径，一般为 .crt 或 .pem 后缀名，留空则不开启 https
cert_file=

# ssl 证书私钥文件路径，一般为 .key 后缀名，留空则不开启 https
key_file=
